@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  scrollbar-color: #cfcfcf transparent;
  background-color: #f0f0f0;
}

header {
  width: 100%;
  color: black;
}

.header-container {
  position: relative;
  max-width: 1350px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 80px;
  border-radius: 0 0 10px 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo img {
  width: 130px;
}

.welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.welcome h1 {
  margin: 0;
  font-size: 1.5rem;
}

.welcome h1 span {
  color: aqua;
}

.welcome button {
  background-color: #1c3240;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.welcome button:hover {
  background-color: #152733;
  color: #e0e0e0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 10px;
}

.subject-section {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1350px;
  min-height: 530px;
  max-height: 530px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subject-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

h2 {
  margin-bottom: 10px;
}

.subject-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  height: 100%;
  overflow: auto;
  background-color: #f9fafb;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  flex-shrink: 0;
}

.subject {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #cfcfcf;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.subject h3 {
  font-size: 1.2rem;
}

.subject span {
  text-align: center;
  width: 25%;
  border-radius: 50px;
  font-weight: 500;
  background-color: #f4f4f5;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  gap: 10px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}

.task-details {
  justify-content: space-between;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-details h4 {
  font-size: 14px;
}

.task-details span {
  font-size: 14px;
  color: #9da4a4;
  font-weight: 700;
}

.task-details time {
  font-size: 14px;
  color: #9da4a4;
  font-weight: 500;
}

.task-status {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.task-status span {
  height: 20px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  background-color: black;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.task-status button {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.task-status button:hover {
  background-color: #f0f0f0;
}

.subjects-details__container {
  position: absolute;
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: center;
}

.subjects-details__content {
  background-color: #fff;
  border: 1 solid #cfcfcf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 580px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subjects-details__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin-bottom: 15px;
}

.subjects-details__content h1 {
  font-size: 17px;
}

.subjects-details__info span {
  font-size: 14px;
  font-weight: 500;
  color: #9da4a4;
}

.subjects-details__info i {
  font-size: 25px;
  font-weight: 500;
  color: #9da4a4;
  position: absolute;
  transform: translateX(440px);
  cursor: pointer;
  user-select: none;
}

.subjects-details__content h2 {
  font-size: 16px;
}

.subjects-details__description {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 14px;
  overflow-y: auto;
}

.subjects-details__description p {
  margin-right: 5px;
  white-space: pre-wrap;
}

.subjects-details__date {
  margin-top: 20px;
  font-size: 14px;
}

.subjects-details__state {
  background-color: #18181b;
  color: #fff;
  width: 130px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  height: 20px;
}

.subject-details__button {
  background-color: #18181b;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.subject-details__button:hover {
  background-color: #2a2a2d;
}

.correction-task-item__file {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  gap: 10px;
}

.correction-task-item__file i {
  color: #2b5797;
  font-size: 30px;
}

.name-file {
  font-size: 15px;
  font-weight: 600;
}

.correction-task-item__file p {
  font-size: 13px;
  color: #9da4a4;
  font-weight: 500;
}

.correction-task-item__file div {
  border-left: 2px solid #2b5797;
  padding-left: 5px;
}

.attach-file__button input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.attach-file__button {
  display: inline-block;
  position: relative;
  background-color: #f3f4f6;
  border: 1px solid #cfcfcf;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.attach-file__button:hover {
  background-color: #cfcfcf;
}

.attach-file__button label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}

.subject-container__button {
  display: flex;
  gap: 10px;
  width: 100%;
}

.view_subject__companions {
  display: inline-block;
  position: relative;
  background-color: #f3f4f6;
  border: 1px solid #cfcfcf;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}

.view_subject__companions:hover {
  background-color: #cfcfcf;
}

.companions-task__container {
  background-color: #fff;
  border: 1 solid #cfcfcf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 580px;
  border-radius: 10px;
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
}

.companions-task__content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.companions-task-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeCompapanions {
  cursor: pointer;
  color: #9da4a4;
  user-select: none;
}

.companions-task__item {
  background-color: #f9fafb;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.companions-task__item h3 {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 10px;
}

.companions-task__header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 10px;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #cfcfcf;
}

.companions-task__info {
  display: flex;
  flex-direction: column;
}

.companions-task__info h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.companions-task__info span {
  font-size: 14px;
  color: #9da4a4;
  font-weight: 700;
}

.companions-task__info time {
  font-size: 14px;
  color: #9da4a4;
  font-weight: 500;
}

.companions-task-status {
  background-color: #18181b;
  color: #fff;
  width: 160px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  height: 20px;
}

.companions-task-description {
  font-size: 14px;
  text-align: justify;
  padding: 15px;
  white-space: pre-wrap;
  margin: 0;
}

#theme-toggle {
  display: none;
}

/* Tema oscuro */
body.dark-mode {
  background-color: #383838;
  color: #fff;
}

body.dark-mode .header-container {
  background-color: #202020;
}

body.dark-mode .welcome h1 {
  color: #fff;
}

body.dark-mode .subject-section {
  background-color: #202020;
}

body.dark-mode .subject-content {
  background-color: #2c2c2c;
  border: 1px solid #383838;
}

body.dark-mode .subject {
  background-color: #202020;
  border-bottom: 1px solid #383838;
}

body.dark-mode .subject span {
  background-color: #2d2d2d;
}

body.dark-mode .task-item {
  background-color: #202020;
  border: 1px solid #383838;
}

body.dark-mode .task-details-button {
  background-color: #202020;
  border: 1px solid #383838;
  color: #fff;
}

body.dark-mode .task-details-button:hover {
  background-color: #272727;
}

body.dark-mode .subjects-details__container {
  background-color: rgba(0, 0, 0, 0.9);
}

body.dark-mode .subjects-details__content {
  background-color: #2c2c2c;
  border: 1px solid #383838;
}

body.dark-mode .companions-task__container {
  background-color: #2c2c2c;
  border: 1px solid #383838;
}

body.dark-mode .companions-task__item {
  background-color: #272727;
  border: 1px solid #383838;
}

body.dark-mode .companions-task__header {
  background-color: #202020;
  border: 1px solid #383838;
}

body.dark-mode .correction-task-item__file {
  background-color: #383838;
}

body.dark-mode .view_subject__companions,
.attach-file__button {
  background-color: #202020;
  border: 1px solid #383838;
  color: #fff;
}

body.dark-mode .view_subject__companions:hover,
.attach-file__button:hover {
  background-color: #272727;
}

